* {
  ::selection {
    background: #fcb941;
  }
}

header {
  #up-nav {
    background-color: #333;
    .container {
      border-bottom: 1px solid #444444;
      padding-top: 10px;
      .call-part {
        font-size: 15px !important;
        i {
          text-shadow: 0px 1px rgb(187, 187, 187), 0px -1px rgb(187, 187, 187),
            1px 0px rgb(187, 187, 187), -1px 0px rgb(187, 187, 187);
        }
        span {
          color: #ccc;
        }
      }
      .language-part {
        color: #ccc;
        ul {
          display: flex;
          justify-content: end;
          li {
            text-decoration: none;
            list-style: none;
            margin-left: 10px;
            font-weight: 300;
            font-size: 15px;
            line-height: 1.5;
            transition: all 0.5s;
            .each-detail {
              position: relative;
              span {
                cursor: pointer;
                i {
                  margin-left: 8px;
                  font-size: 12px !important;
                }
              }
              .drop-money {
                // opacity: 0;
                display: none;
                transition: all 0.3s;
                z-index: 1;
                position: absolute;
                padding-top: 16px !important;
                ul {
                  display: flex;
                  flex-direction: column;
                  justify-content: start;
                  padding: 0px !important;
                  background-color: white;
                  li {
                    color: #b9b9b9;
                    transition: all 0.5s;
                    cursor: pointer;
                    font-size: 12px;
                    padding-right: 15px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                  }
                  li:hover {
                    color: #cf9836;
                  }
                }
              }
              .drop-lang {
                // opacity: 0;
                display: none;
                transition: all 0.3s;
                z-index: 1;
                position: absolute;
                padding-top: 16px !important;
                ul {
                  display: flex;
                  flex-direction: column;
                  justify-content: start;
                  padding: 0px !important;
                  background-color: white;
                  li {
                    color: #b9b9b9;
                    transition: all 0.5s;
                    cursor: pointer;
                    font-size: 12px;
                    padding-right: 15px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                  }
                  li:hover {
                    color: #cf9836;
                  }
                }
              }
            }
            .money-part:hover .drop-money {
              //   opacity: 1 !important;
              display: block !important;
            }
            .lang-part:hover .drop-lang {
              //   opacity: 1 ! important;
              display: block !important;
            }
          }
          li:hover {
            color: #cf9836;
          }
        }
      }
    }
  }

  #down-nav {
    background-color: #333;
    border-bottom: 1px solid #ebebeb;
    .container {
      padding-top: 20px;
      padding-bottom: 20px;
      .logo {
        img {
          width: 105px;
          height: 25px;
        }
      }
      .search {
        position: relative;
        left: 80px;
        i {
          position: absolute;
          top: 16px;
          left: 28px;
          font-size: 20px;
          color: rgb(24, 24, 24);
          transform: rotateY(180deg);
          transition: all 0.4s;
          cursor: pointer;
        }
        i:hover {
          color: #fcb941;
        }
        input {
          width: 570px;
          border-radius: 25px;
          border: none !important;
          padding: 12px 0px 12px 50px;
          outline: none;
        }
        ::placeholder {
          color: #777777;
          font-size: 15px;
        }
      }
      .options {
        color: white;
        display: flex;
        justify-content: end;
        padding-right: 20px;
        position: relative;
        cursor: pointer;
        .compare {
          display: flex;
          flex-direction: column;
          padding-right: 20px;
          transition: all 0.5s;
          i {
            font-size: 25px;
            text-align: center;
          }
          span {
            color: #ccc;
          }
        }
        .compare:hover {
          color: #fcb941;
        }
        .wishlist {
          display: flex;
          flex-direction: column;
          padding-right: 20px;
          cursor: pointer;
          .wish {
            transition: all 0.5s;
            sup {
              position: relative;
              font-size: 15px;
              left: 40px;
              top: -13px;
              background-color: #fcb941;
              width: 20px;
              height: 20px;
              padding: 1px 4px;
              color: black;
              border-radius: 15px;
            }
            i {
              font-size: 25px;
              text-align: center;
            }
          }
          .wish:hover {
            color: #fcb941;
          }
          span {
            color: #ccc;
          }
        }
        .cartlist {
          display: flex;
          flex-direction: column;
          padding-right: 20px;
          cursor: pointer;
          .cart {
            transition: all 0.5s;
            sup {
              position: relative;
              font-size: 15px;
              left: 43px;
              top: -15px;
              background-color: #fcb941;
              width: 20px;
              height: 20px;
              padding: 1px 4px;
              color: black;
              border-radius: 15px;
            }
            i {
              font-size: 25px;
            }
          }
          .cart:hover {
            color: #fcb941;
          }
          span {
            color: #ccc;
            display: flex;
            justify-content: end;
          }
        }
      }
    }
  }

  #down-nav-phone {
    background-color: #333;
    display: none;
    .container {
      padding-top: 20px;
      padding-bottom: 20px;
      .logo {
        .close {
          font-size: 25px;
          color: white;
          position: relative;
          top: 5px;
          left: 19px;
        }
        .open {
          font-size: 25px;
          color: white;
          position: relative;
          top: 5px;
          right: 5px;
        }
        img {
          width: 105px;
          height: 25px;
        }
      }
      .options {
        color: white;
        display: flex;
        justify-content: end;
        padding-right: 20px;
        position: relative;
        cursor: pointer;
        .compare {
          display: flex;
          flex-direction: column;
          padding-right: 20px;
          transition: all 0.5s;
          i {
            font-size: 25px;
            text-align: center;
          }
          span {
            color: #ccc;
          }
        }
        .compare:hover {
          color: #fcb941;
        }
        .wishlist {
          display: flex;
          flex-direction: column;
          padding-right: 20px;
          cursor: pointer;
          .wish {
            transition: all 0.5s;
            sup {
              position: relative;
              font-size: 15px;
              left: 40px;
              top: -13px;
              background-color: #fcb941;
              width: 20px;
              height: 20px;
              padding: 1px 4px;
              color: black;
              border-radius: 15px;
            }
            i {
              font-size: 25px;
              text-align: center;
            }
          }
          .wish:hover {
            color: #fcb941;
          }
          span {
            color: #ccc;
          }
        }
        .cartlist {
          display: flex;
          flex-direction: column;
          padding-right: 20px;
          cursor: pointer;
          .cart {
            transition: all 0.5s;
            sup {
              position: relative;
              font-size: 15px;
              left: 43px;
              top: -15px;
              background-color: #fcb941;
              width: 20px;
              height: 20px;
              padding: 1px 4px;
              color: black;
              border-radius: 15px;
            }
            i {
              font-size: 25px;
            }
          }
          .cart:hover {
            color: #fcb941;
          }
          span {
            color: #ccc;
            display: flex;
            justify-content: end;
          }
        }
      }
    }
  }

  #sidebar {
    padding-top: 20px;
    max-width: 280px;
    //deleted
    //   background-color: #cf9836;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .close-part {
      i {
        position: absolute;
        right: 20px;
      }
      padding-bottom: 40px;
    }
    .search {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      input {
        outline: none;
        border: 1px solid #e5e5e5;
        padding: 0px 0px 0px 15px;
      }
      i {
        background-color: #fcb941;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        border: none;
        transition: all 0.5s;
        cursor: pointer;
      }
      i:hover {
        background-color: #bf913d;
      }
    }
    .tab-menu {
      .for-names {
        .names {
          display: flex;
          justify-content: space-evenly;
          border-bottom: 1px solid #ededed;
        }
      }
      .infos {
        .for-menu {
          list-style: none;
          padding: 0px;
          transition: all 0.5s;
          li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ededed;
            padding-top: 12px;
            padding-bottom: 12px;
            a {
              text-decoration: none;
              color: #8e8e8e;
              padding-left: 30px;
              transition: all 0.5s;
              cursor: pointer;
            }
            a:hover {
              color: #fcb941;
            }
            i {
              color: #8e8e8e;
              padding-right: 30px;
              transition: all 0.5s;
              cursor: pointer;
            }
            i:hover {
              color: #fcb941;
            }
          }
        }
        .for-categories {
          list-style: none;
          padding: 0px;
          li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ededed;
            padding-top: 12px;
            padding-bottom: 12px;
            a {
              text-decoration: none;
              color: #8e8e8e;
              padding-left: 30px;
              transition: all 0.5s;
              cursor: pointer;
            }
            a:hover{
                color: #fcb941;
            }
          }
        }
      }
      .active-menu {
        color: #fcb941 !important;
        border-bottom: 1px solid #fcb941;
        transition: all 0.5s;
        padding-bottom: 10px !important;
      }
    }
  }

  #main-nav {
    border-bottom: 1px solid #ededed;
    .container {
      margin-bottom: -20px;
      margin-top: -16px;
      padding-top: 15px;
      .burger-m {
        margin-bottom: 20px;
        .not-table {
          transition: all 0.5s;
          display: flex;
          justify-content: space-evenly;
          padding-top: 15px;
          .tab-menu {
            font-size: 25px;
            opacity: 1;
            transition: all 0.2s;
          }
          .x-icon {
            font-size: 25px;
            position: relative;
            left: 35px;
            opacity: 0;
            transition: all 0.2s;
          }
          span {
            font-size: 16px;
            margin-bottom: 30px;
          }
          .down-ch {
            font-size: 18px;
            padding-left: 20px;
            padding-right: 15px;
            padding-top: 5px;
            color: #a4a4a4;
          }
        }
        .not-table:hover {
          background-color: #fcb941;
        }
        .table {
          //   opacity: 0;
          display: none;
          width: 306px;
          transition: all 0.3s;
          z-index: 1;
          position: absolute;
          padding-top: 35px !important;
          left: 88px;
          ul {
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 0px !important;
            background-color: white;
            list-style: none;
            position: relative;
            bottom: 35px;
            left: 20px;
            li {
              color: #757575;
              transition: all 0.5s;
              cursor: pointer;
              font-size: 16px;
              padding-left: 20px;
              padding-top: 10px;
              padding-bottom: 10px;
              border: 1px solid #e7e7e7;
            }
            li:hover {
              color: #cf9836;
            }
          }
        }
      }
      .burger-m:hover .table {
        //   opacity: 1 !important;
        display: block;
      }

      .burger-m:hover .tab-menu {
        opacity: 0 !important;
      }

      .burger-m:hover .x-icon {
        opacity: 1 !important;
      }

      .categories {
        .list {
          ul {
            padding-top: 15px;
            display: flex;
            justify-content: center;
            list-style: none;
            .left-side {
              color: #ececec;
              font-size: 25px;
              position: relative;
              bottom: 7px;
              margin-right: 32px;
            }
            .right-side {
              color: #ececec;
              font-size: 25px;
              position: relative;
              bottom: 7px;
              margin-left: 80px;
            }
            li {
              a {
                text-decoration: none;
                color: black;
                font-size: 16px;
                margin-left: 40px;
                transition: all 0.5s;
                i {
                  position: relative;
                  bottom: 23px;
                  left: 90px;
                }
              }
              .drop-list {
                //   opacity: 0;
                display: none;
                width: 210px;
                transition: all 0.3s;
                z-index: 1;
                position: absolute;
                padding-top: 42px !important;
                left: 710px;
                ul {
                  display: flex;
                  flex-direction: column;
                  justify-content: start;
                  padding: 0px !important;
                  background-color: white;
                  list-style: none;
                  position: relative;
                  bottom: 35px;
                  left: 20px;
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                  li {
                    a {
                      text-decoration: none;
                      color: #757575;
                      transition: all 0.5s;
                      cursor: pointer;
                      font-size: 16px;
                      padding-left: 20px;
                    }
                    padding-top: 10px;
                    padding-bottom: 10px;
                    a:hover {
                      color: #cf9836;
                    }
                  }
                }
              }
              .home {
                color: #fcb941;
                border-bottom: 2px solid #fcb941;
                padding-bottom: 31px;
              }
            }
            .hi:hover .drop-list {
              display: block;
            }
            li:not(:first-child) a:hover {
              color: #fcb941;
              border-bottom: 2px solid #fcb941;
              padding-bottom: 31px !important;
              i {
                padding-bottom: 0px !important;
              }
            }
          }
        }

        .list:hover .drop-list {
          display: block;
        }
      }
      .bulb {
        padding-top: 15px;
        display: flex;
        justify-content: end;
        i {
          font-size: 20px;
          padding-right: 10px;
          padding-top: 2px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1250px) {
  #down-nav {
    input {
      width: 400px !important;
    }
  }
}

@media only screen and (max-width: 992px) {
  #down-nav {
    display: none !important;
  }
  #down-nav-phone {
    display: block !important;
  }
  #main-nav {
    display: none !important;
  }
}

@media only screen and (max-width: 1151px) {
  .burger-m {
    .table {
      left: 50px;
    }
  }
}
